* {
  box-sizing: border-box;
}
body {
  font-family: "Unbounded", cursive;
  padding: 0;
  margin: 0;
}
.conteiner {
  width: 100vw;

  background-image: url("../../img/perrowellcome7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
