* {
  box-sizing: border-box;
}
body {
  font-family: "Unbounded", cursive;
  padding: 0;
  margin: 0;
}
.ingresar {
  width: 100vw;
  height: 500px;
  /* background-image: url("../../img/perrowellcome2.jpeg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-items: center;
}
